# SPDX-License-Identifier: MIT OR Apache-2.0

[package]
name = "__PRODUCT_ID__-domain"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
name = "product_domain"
path = "src/lib.rs"
