# SPDX-License-Identifier: MIT OR Apache-2.0

/target/
/frontend/node_modules/
/frontend/modules/yydra-client-settings/node_modules/
/frontend/.expo/
/frontend/dist/
/frontend/test-results/
/frontend/android/
/frontend/ios/
.env
