# SPDX-License-Identifier: MIT OR Apache-2.0

[package]
name = "__PRODUCT_ID__-api-build"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[build-dependencies]
product-transport-http = { package = "__PRODUCT_ID__-transport-http", path = "../transport-http" }
yydra-build = { version = "=0.5.0", path = "../../.yydra/build-support" }
