# SPDX-License-Identifier: MIT OR Apache-2.0

[package]
name = "__PRODUCT_ID__-transport-http"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
name = "product_transport_http"
path = "src/lib.rs"

[dependencies]
yydra-auth.workspace = true
axum.workspace = true
product-application = { package = "__PRODUCT_ID__-application", path = "../application" }
serde.workspace = true
serde_json.workspace = true
utoipa.workspace = true
utoipa-axum.workspace = true

[dev-dependencies]
yydra-auth = { workspace = true, features = ["test-provider"] }
tokio.workspace = true
tower.workspace = true
